__pycache__/
*.py[cod]
.env
/git-account.sh
.venv/
/dataset/
/dataset/archive/
/server/venv/
/server/Model/dataset*
/client/node_modules/
/evaluation.json
/server/artifacts/*.keras
/server/artifacts/*.h5
